$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Helvetica'
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.bic_calendar{
  border:none;
}
.bic_calendar a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.bic_calendar .table tbody > tr > td{
    text-align: center;
    padding: 0px;
}
.bic_calendar td div{
    padding: 5px;
}
.bic_calendar td a{

}
.bic_calendar .header{
    padding: 10px 0 10px 0;
}
.bic_calendar .button-month-previous{
    padding: 5px;
    float: left;
}
.bic_calendar .button-month-next{
    padding: 5px;
    float: right;
}
.bic_calendar .button-year-previous{
    padding: 5px;
    float: left;
}
.bic_calendar .button-year-next{
    padding: 5px;
    float: right;
}
.bic_calendar .monthAndYear{
    text-align: center;
    font-weight: 500;
}
.bic_calendar .days-month{
    font-weight: 500;
}
.bic_calendar .event{
    color: white;
    font-weight: bold;
}
.bic_calendar .event:hover{
}
.bic_calendar .event a{
    color: white;
}
.bic_calendar .table{
    margin-bottom: 3px;
}
.bic_calendar .days-month td{
}
.bic_calendar .selection{
}
.bic_calendar .first-selection{
}
.bic_calendar .last-selection{
}
.bic_calendar .middle-selection{
}
.bic_calendar .popover{
    color: #000;
    text-shadow: none;
}
.bic_calendar .popover-content{
    font-weight: 300;
}

table td {
    border-top: none !important;
}

#main-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 620px;
  background: url('../images/oct.png') white no-repeat;
  background-position: -20px 0px, center;
}

#top-box {
  width: 960px;
  height: 300px;
}

#bottom-box {
  width: 960px;
  height: 320px;
  font-size: 120px;
  padding-left: 120px;
}

#main-deco-word {
  color: gray;
}

#calendar {
  border:    0 !important;
  font-size: 9px;
  height:    200px;
  width:     240px;
  float:     right;
  position:  relative;
  top:       80px;
  right:     80px;
}

.days-month {
  td.sunday {
    color: #FCD69D;
  }
  td:nth-child(6) {
    color: #FCD69D;
  }
}







